body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color:rgb(128,128,128);*/
    background-color: #39302a;
    color:white;
}

a{
    color:white;
}
a:hover{
    color:#cccccc;
}

#form-container{
    margin:auto;
    width:fit-content;
    text-align: center;
}

.form-box{
    display:block;
    width:50%;
    border: 3px solid rgb(229, 72, 35);
    background: rgb(57, 48, 42);
    color: white;
    margin: auto;
    margin-top: 5%;
    padding:20px;
    font-size:20px"
}
.credits{
	position:fixed;
	bottom:5%;
	right:5%;
}

a[id=download]{
    background: rgb(121, 38, 18);
    border:rgb(229, 72, 35) 3px solid;
    padding:8px;
    text-decoration: none;
}

a[id=download]:hover{
    border:rgb(229, 72, 35) 3px solid;
    background:rgb(229, 72, 35);
    color:white;

}

input[type="text"]{
	border: 3px solid rgb(229, 72, 35);
	background: rgb(57, 48, 42);
	color:white;
    font-size: 1em;
    width:50px;
    margin: 10px;
    text-align: center;
}

input[id="name"]{
    padding: 10px;
    font-size: 1.5em;
    width:200px;
}

input[type="submit"]{
	border: 3px solid rgb(229, 72, 35);
	background: rgb(57, 48, 42);
	color:white;
    padding: 10px;
    font-size: 1.5em;
    margin: 10px;
    cursor:hand;
}
input[type="submit"]:hover{
    background:rgb(229, 72, 35);
}

.instructions{
    text-align: center;
}

#trial-container{
    display:none;
}

#stimulus-slice, #response-text{
    display:block;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
}

#stimulus-container{
    margin:auto;
    width: fit-content;
    position: relative;
}

#stimulus{
    display:block;
    height: 85%;
    width:100%;
    text-align:center;
}

#stimulus img{
    height:100%;
}

#stimulus-scroll-bar{
    position: absolute;
    right: -25px;
    height: 100%;
    width:20px;
    top:0;

}
#stimulus-scroll-bar #stimulus-scroll-position{
    background:white;
    height:0%;
    width:10px;
    position: absolute;
    top:0;
    left:25%;
}

#stimulus-scroll-bar #stimulus-scroll-background{
    background:black;
    position: absolute;
    top:0;
    left:7px;
    height:100%;
    width:6px;
}

#loading-bar{
    width:80%;
    height:30px;
    background:black;
    margin:auto;
    padding:5px;
    margin-top:10px;
    margin-bottom: 10px;
}
#loading-bar-progress{
    width:0%;
    height:100%;
    background:white;
}

#response-container{
    margin:auto;
    display:none;
    margin-top:200px;
}

.rating{
    width:50px;
    height:50px;
    text-align: center;
    font-size:30px;
    border: 2px black solid;
    float:left;
    margin:10px;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    color:white;
}

.present{
    border: 2px solid greenyellow;
}
.present:hover{
    background-color:green
}

.absent{
    border: 2px solid red
}
.absent:hover{
    background-color:rgb(160, 0, 0);;
}

#confidence-scale{
    width: fit-content;
    margin:auto;
}

#finished-container{
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#help{
    position:fixed;
    top:50px;
    left:50px;
    width:200px;
    display:none;
    font-size:12px;
    line-height: 13px;
}

#popup{
    width:50%;
    height:50%;
    position:fixed;
    top:25%;
    left:25%;
    display:none;
    background-color: #39302a;
    border: 3px solid rgb(229, 72, 35);
    text-align: center;
}
#close{
    position: absolute;
    top:10px;
    right:20px;
    
    cursor: pointer;
    color:white;
    width:20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    font-size:2em;
}

.question-mark{
    cursor: pointer;
}