body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color:rgb(128,128,128);*/
    background-color: #39302a;
    color:white;
}

a{
    color:white;
}
a:hover{
    color:#cccccc;
}

strong{
    color:#ff8a6e;
}
.background{
    text-align: center;
}

.hidden{
    display:none !important;
}

#form-container, #form-data{
    margin:auto;
    width:fit-content;
    width: -moz-fit-content;
    text-align: center;
}

.form-box{
    display:block;
    width:70%;
    border: 3px solid rgb(229, 72, 35);
    background: rgb(57, 48, 42);
    color: white;
    margin: auto;
    margin-top: 5%;
    padding:20px;
    font-size:20px;
    position: relative;
}
.form-box .created {
    display:none;
}
.created li{
    list-style: none;
    font-size: 23px;
    line-height: 34px;
}
.created li a{
    width: 50px;
    float:right;
}
.created li a[href*="experiment"]:hover{
    color:greenyellow;
}
.created li a[href*="results"]:hover{
    color:cyan;
}
.credits{
	position:fixed;
	bottom:5%;
	right:5%;
}

a[id=download]{
    background: rgb(121, 38, 18);
    border:rgb(229, 72, 35) 3px solid;
    padding:8px;
    text-decoration: none;
}

a[id=download]:hover, #load-experiment-label:hover, #google-drive-result ul li:hover, .download-results:hover, .results li:hover{
    /*border:rgb(229, 72, 35) 3px solid;*/
    background:rgb(229, 72, 35);
    color:white;
}

input[type="text"], input[type="number"], select, input[type="password"], input[type="submit"]{
	border: 3px solid rgb(229, 72, 35);
	background: rgb(57, 48, 42);
	color:white;
    font-size: 1em;
    margin:auto;
    margin-top: 10px;
    text-align: center;
    font-size:20px; 
}

input[type="text"]:hover, input[type="number"]:hover, select:hover{
    background: rgb(73, 57, 47);
}

.textresponse{
    display:block;
}


.form-box input[type="text"], .form-box select, .form-box input[type="password"], .form-box input[type="number"]{
    border-width: 1px;
}
.form-box input[type="button"], .form-box input[type="submit"]{
    border-width:2px;
    font-size:14px; 
    height:17px;
    line-height: 0px;
    margin:auto;
}

input[id="name"]{
    padding: 10px;
    font-size: 1.5em;
    width:200px;
}

input[type="button"], .button, input[type="submit"],button{
	border: 3px solid rgb(229, 72, 35);
	background: rgb(57, 48, 42);
	color:white;
    padding: 10px;
    font-size: 1.5em;
    margin: 10px;
    cursor:hand;
}
input[type="button"]:hover, .button:hover, input[type="submit"]:hover,button:hover{
    background:rgb(229, 72, 35);
}
input[type="button"].disabled{
    color: #a2a2a2;
    border-color: #a2a2a2;
    cursor:unset;
    background:inherit;
}

#delete-experiment {
    clear: both;
    display: block;
    margin: auto;
    font-size: 13px;
    padding: 5px;
    border-width: 2px;
}

.text{
    text-align: center;
    background: gray;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;   
    z-index: 1;
    display:none;
}

.text div{
    text-align: center;
    font-size: 24px;
    display:table-cell;
    vertical-align: middle;
}
.instructions,#trial-number{
    text-align:center;
    clear:both;
}

#trial-number{
    position:fixed;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    z-index:10;
}

#trial-spacebar{
    position:fixed;
    bottom:10px;
    left: 50%;
    transform: translateX(-50%);
}


.cell{
    display:table-cell;
    vertical-align: middle;
}
#stimulus-slice, #response-text{
    display:block;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
}
#stimulus-slice{
    position: fixed;
    transform: translateX(-50%);
    top: 35px;
    left: 50%;
    z-index: 10;
    margin-top:0;
}

#stimulus-container{
    margin:auto;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
}

#stimulus, #feedback-container{
    display:table;
    /*height: 85%;*/
    /*width:100%;*/
    text-align:center;
    position:relative;
    margin: auto;
}

#trial-container,#feedback-container{
    display:none;
    height: 100%;
    width: 100%;
}

#stimulus .stimulus-img{
    float:left;
    margin:10px;
}

#stimulus-scroll-bar{
    position: absolute;
    right: -25px;
    height: 100%;
    width:20px;
    top:0;

}
#stimulus-scroll-bar #stimulus-scroll-position{
    background:white;
    height:0%;
    width:10px;
    position: absolute;
    top:0;
    left:25%;
}

#stimulus-scroll-bar #stimulus-scroll-background{
    background:black;
    position: absolute;
    top:0;
    left:7px;
    height:100%;
    width:6px;
}

#loading-bar{
    position: fixed;
    width:80%;
    height:30px;
    background:black;
    margin:auto;
    padding:5px;
    left:10%;
    top:30%;
    font-size: 23px;
    color: gray;
    text-align: center;
    display:none;
}
#loading-bar-progress{
    max-width:99%;
    width:0%;
    height:80%;
    background:white;
    position: absolute;
    top: 10%;
    z-index: -1;
}

#response-container{
    margin:auto;
    display:none;
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;

}
#response-container span{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.rating{
    width:50px;
    height:50px;
    text-align: center;
    font-size:30px;
    border: 2px black solid;
    float:left;
    margin:10px;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    color:white;
}
.option{
    width:auto;
    font-size:20px;
    padding:2px;
    min-width:50px;
}

.present, .option{
    border: 2px solid greenyellow;
}
.present:hover,.present.selected,.option:hover,.option.selected{
    background-color:green
}

.absent{
    border: 2px solid red
}
.absent:hover, .absent.selected{
    background-color:rgb(160, 0, 0);;
}

.question {
    margin-top: 10px;
    padding-top: 10px;
    font-weight: bold;
    clear: both;
    text-align: center;
    display: flow-root;
    border-top: 1px solid white;
}

#confidence-scale{
    width: fit-content;
    width: -moz-fit-content;
    margin:auto;
}

#finished-container{
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#help{
    position:fixed;
    top:50px;
    left:50px;
    width:200px;
    display:none;
    font-size:12px;
    line-height: 13px;
}

.popup{
    width:75%;
    height:70%;
    position:fixed;
    top:15%;
    left:12.5%;
    display:none;
    background-color: #39302a;
    border: 3px solid rgb(229, 72, 35);
    text-align: center;
}
.close{
    position: absolute;
    top:10px;
    right:20px;
    
    cursor: pointer;
    color:white;
    width:15px;
    height: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 15px;
    font-size:1.8em;
}

.question-mark{
    cursor: pointer;
}

#calibration-dialog h1{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-18%, -50%);
}

#calibration-dialog .credit-card-slider{
    width:60%;
    height:5px;
    background:white;
    margin-left:20%;
    position: relative;
}
#calibration-dialog .credit-card-slider-position{
    height:20px;
    width:20px;
    background:white;
    position: absolute;
    left:50%;
    top:-10px;
    cursor: pointer;
    border:3px solid white;
    margin-right:10px;
}
#calibration-dialog .credit-card-slider-position:hover{
    border:3px solid rgb(229, 72, 35) !important;
}

#calibration-dialog .credit-card-outline{
    /* 1.5857725083364208966283808818081 */
    border:2px solid white;
    border-radius: 4px;
    width:350px;
    height: 220px;
    margin-top:20px;
    margin-left:20%;
}
.popup .button{
    position: absolute;
    bottom:5%;
    right:5%;
}

#calibration-dialog .blind-spot-container{
    position: relative;
    width:80%;
    height:140px;
    background:black;
    margin-right:20%;
    margin-top:10%;
}

#calibration-dialog .blind-spot-cross{
    background-image:url(../images/cross.png);
    width:50px;
    height:50px;
    position: absolute;
    right: 20px;
    top: 45px;
    background-size:cover;
}

#calibration-dialog .blind-spot-dot{
    background:white;
    width:20px;
    height:20px;
    position: absolute;
    right: 100px;
    top: 60px;
    border-radius: 20px;
}
abbr{
    cursor:help;
}
table{
    width:100%;
}
table th{
    text-align: right;
    width:42%;
    padding-right: 10px;
    height:25px;
}
table td{
    text-align: center;
}

.form-box input, .form-box p{
    margin:0;
    margin-bottom:2px;
}
.form-box #create-experiment{
    margin-top:10px;
}

.form-box #create-title:hover{
    cursor:pointer;
    border-color:rgb(229,72,35) !important;
}
.form-box #create-toggle{
    display:none;
}

.form-box input[type="checkbox"]{
    height: 23px;
    background-color: rgb(57, 48, 42);
    border: rgb(229, 72, 35) 3px solid;
    cursor: pointer;
    margin:0;
}
.form-box p{
    font-size: 15px;
}

input[type="file"] {
    display: none;
}
#load-experiment-label{
    border: 2px solid rgb(229, 72, 35);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#google-drive-result {
    overflow-y: scroll;
    height: inherit;
}

#google-drive-result ul{
    list-style: none;
    width: 50%;
    margin: auto;
    padding:0;
}

#google-drive-result ul li{
    margin-top:5px;
    padding:10px;
    border: 1px solid rgb(229, 72, 35);
    cursor: pointer;
}

#google-drive-result ul li .files-found{
    float: right;
    font-size: 10px;
    line-height: 20px;
}

.mark {
    /*height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;*/
    position: absolute;
  }
#slider-value, .slider-value{
    float: left;
    text-align: center;
    width: 33%;
}
.slidecontainer{display:flex}
.slider {
    float:right;
    -webkit-appearance: none;
    width: 66%;
    height: 5px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.7;
    margin-top: 6px !important;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgb(229, 72, 35); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgb(229, 72, 35); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.mafc4 .stimulus-img:nth-child(3), 
.mafc5 .stimulus-img:nth-child(4),
.mafc6 .stimulus-img:nth-child(4), 
.mafc7 .stimulus-img:nth-child(5), 
.mafc8 .stimulus-img:nth-child(5),
.mafc9 .stimulus-img:nth-child(4), .mafc9 .stimulus-img:nth-child(7){
    clear:both;
}

#stimulus.circle{
    width:100%;
    height:100%;
    position: relative;
    background: url(/images/cross.png) no-repeat center;
    background-size: 2%;
}
.circle .stimulus-img{
    position:absolute;
}


#form-data ul li{
    border: 1px solid rgb(229, 72, 35);
    padding:5px;
    float:left;
    margin:10px;
}

#form-data ul{
    list-style: none;
}
.download-results{
    clear:both;
    font-size:10px;
    font-weight: bold;
    display:inline;
    border: 3px solid rgb(229, 72, 35);
    margin:2px;
    padding:10px;
}

hr{
    border:3px solid rgb(229, 72, 35);
    width: 66%;
    margin-top: 30px;
}

.error{
    clear:both;
    margin:auto;
    margin-top:20px;
    width:66%;
    padding:20px;
    border:3px solid rgb(229, 72, 35);
    display:none;
    color: rgb(255, 255, 255);
    background: #8a0505;
    font-weight: bold;
}
.results .name{
    font-size:20px;
}
.results .date{    
    font-size: 11px;
    vertical-align: middle;
}
.results abbr{
    text-decoration: none;
}

#cheatcode{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    background: #e64823;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display:flex;
}

